button {
    margin-top: 20px;
    background-color: #eee;
    padding: 0.5em;
    border-radius: 4px;
    font-size: 1rem;
}

button:hover {
    background-color: #cfd8dc;
}

button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
}